{% extends "app/base.html" %} 
{% block content %}
    {% for post in post_list %}
        <div>
            <h2>{{ post.title }}</h2>
            <img src="" alt="">
            <p>{{ post.author }} | {{ post.created_on}} </p>
            <p>{{post.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    {% endfor %}
{% endblock content %}