<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Raist dev{% endblock title%}</title>
</head>

<body>
    {% comment %} Header {% endcomment %}
    <header>
        <h1>Raist dev</h1>
    </header>
    {% comment %} Navbar {% endcomment %}
    <nav>
        <div>
            <a href="{% url 'home' %}">Inicio</a>
            <div>
                <ul>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Policy</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% comment %} Content {% endcomment %}
    {% block content %}
    
    {% endblock content %}
    {% comment %} Footer {% endcomment %}
    <footer>
        <p>Copyright &copy;raistdev</p>
    </footer>
</body>

</html>